div {
    display: block;
}

body {
    font-family: Gotham, "Helvetica,Neue",
        Helvetica, Arial, "sans-serif";
    font-size: 14px;
    color: #333333;
}

#main-content {
    padding-bottom: 15px;
    background: white;
    padding: 10px 0 15px 0;
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
    display: table;
}

.product {
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px dotted #999;
    border-radius: 0;
    text-align: left;
    box-shadow: none!important;
    background-color: white;
    box-sizing: border-box;
    height: 300px;
}

.row {
    margin-left: -15px;
    margin-right: 15px;
    margin-top: 10px;
}

.image {
    width: 25%;
    float: left;
}

.image_container {
    margin: 2px 0;
    z-index: 2;
    text-align: center;
    font-size: 12px;
}

a {
    color: #006FBA;
    text-decoration: none;
}

.product_specs {
    width: 41%;
    float: left;
}

ul {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    background: white;
}

li {
    height: 20px;
}

.container {
    position: relative;
    height: auto;
}

[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

label {
    background: #e4e3df;
    display: block;
    width: 100%;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
}

label:before,
label:after {
    position: absolute;
}

label:before {
    content: 'More';
    left: 10px;
}

label:after {
    content: '⇣●';
    right: 10px;
    animation: sudo .85s linear infinite alternate;
}

@keyframes sudo {
    from {
        transform: translateY(-2px);
    }
    to {
        transform: translateY(2px);
    }
}
[type="checkbox"] ~ ul {
    display: none;
}

[type="checkbox"]:checked ~ ul {
    display: block;
}

[type="checkbox"]:checked + label {
    top: 100%;
}

[type="checkbox"]:checked + label:before {
    content: 'Less';
}

[type="checkbox"]:checked + label:after {
    content: '⇡●';
}

.name {
    color: #777;
    font-size: 13px;
    float: left!important;
    position:relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.productimage img {
    vertical-align: middle;
    border: 0;
    width: 90%;
}

.body {
    padding: 15px;
}
