<html>        
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="../static/images/logo.png"/>
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Welcome to Serenity</title>
	{% endif %}
</head>
<body>
    <link rel="stylesheet" href="../static/global.css" title="" type="">
    <link rel="stylesheet" href="../static/header.css" title="" type="">
    <link rel="stylesheet" href="../static/login.css" title="" type="">
    <div class="container">
        <div class="main-header" id="mainHeader">
            <div class="header-container">
                <h1 class="serenity-logo">
                    <a href="/index">
                        <span class="logo-name">
                            Serenity
                        </span>
                        <img class="logo-image" src="../static/images/logo.png" alt="" height="70" width="70">
                    </a>
                </h1>
                <div class="nav-wrap">
                    <div class="nav-wrap-inner">
                        <nav class="nav">
                            <ul class="nav-list"> 
                                <li class="nav-item">
                                    <a href="/index">Home</a>
                                </li>
                                <li class="nav-item" style="margin-left: 25px;">
                                    <a href="/login">Login</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>