{% extends "base2.html" %}
{% block content %}
<h2>Sign In</h2>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<script>
		alert("{{ message }}");
		</script>
		{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="form_container">
		<form action="" method="post" name="login">
			{{ form.hidden_tag() }}
				{{ form.username(size=50, class_="textbox", value="Username", onfocus="if(this.value=='Username') this.value=''") }}<br>
				{% for error in form.username.errors %}
				<span style="color: red">{{ error }}</span>
				{% endfor %}
				{{ form.password(size=50, class_="textbox") }}<br>
				{% for error in form.password.errors %}
				<span style="color: red">{{ error }}</span>
				{% endfor %}
			<input title="Search" type="submit" value="Login" class="button">
		</form>
	</div>
{% endblock %}

