{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if recipes %}
<link rel="stylesheet" href="../static/global.css" title="" type="">
<link rel="stylesheet" href="../static/product.css" title="" type="">
<h2>Results:</h2>
<div id="main-content">
	{% for recipe in recipes %}
    <div class="product" id={{ recipe.id }}>
        <div class="body">
            <div class="row">
                <div class="image">
                    <div class="image_container">
                        <a class="productimage" href="#">
                            <img src={{ recipe.image.image }} alt="">
                        </a>
                    </div>
                </div>
                <div class="product_specs">
                    <div class="row">
                        <div class="name">
                            <div>{{ recipe.title }}</div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="ingredients">
                            <h4 style="padding-left: 40px">Ingredients</h4>
                            {% if recipe.ingredients|length >4 %}
                                <ul>
                                {% for i in range(4) %}
                                   <li>{{ recipe.ingredients[i].name }}</li>
                                {% endfor %}
                                <li><a class="label" href="#">view more...</a></li>
                                </ul>
                            {% else %}
                                <ul>
                                {% for j in recipe.ingredients %}
                                   <li>{{ j.name }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="instructions">
                            <a class="label" href="#">View Instructions</a>
                        </div>
                    </div>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
